body{
    background-image: url("../assets/yellow.jpg");
    background-size: cover;

}


h1{
    text-align: center;
    padding-top:0px;
    font-size: 50px;
    color:black;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    float: right;
    padding-top: 25px;
    padding-right: 60px;
    color:black;
}



img{
    width: 10px;
   height: 10px;
   
}

label,input,button{

    /*padding-top:10px;*/
    padding-bottom:10px;
    font-size: 20px;
    
}

label{
    
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

img{
    width:150px;
    height:150px;
}

form{
    /*background-image: url("./imagenes/madera3.jpg");
    background-size: cover;*/
    background-color: white;
    margin: 50px auto;
    width: 450px;
    height: relative;
    /*padding:30px;*/
    border: 1px solid black;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
}
